# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/



.project





test/foo/foo01/Foo1/
test/foo/foo02/Foo2/
test/foo/foo03/Foo3/
test/foo/foo04/Foo4/
test/foo/foo05/Foo5/
test/foo/foo06/Foo6/
test/foo/foo07/Foo7/
test/foo/foo08/Foo8/
test/foo/foo09/Foo9/
test/foo/foo10/Foo10/
test/foo/foo11/Foo11/
test/foo/foo12/Foo12/

test/foreach/foreach01/Foreach1/
test/foreach/foreach02/Foreach2/
test/foreach/foreach03/Foreach3/
test/foreach/foreach04/Foreach4/
test/foreach/foreach05/Foreach5/
test/foreach/foreach06/Foreach6/
test/foreach/foreach07/Foreach7/
test/foreach/foreach08/Foreach8/
test/foreach/foreach09/Foreach9/
test/foreach/foreach10/Foreach10/
test/foreach/foreach11/Foreach11/
test/foreach/foreach12/Foreach12/

test/deleg/deleg01/Deleg1/
test/deleg/deleg02/Deleg2/
test/deleg/deleg03/Deleg3/
test/deleg/deleg04/Deleg4/

test/shm/shm01/Shm1/
test/shm/shm02/Shm2/
test/shm/shm03/Shm4/
test/shm/shm04/Shm4/
test/shm/shm05/Shm5/
test/shm/shm06/Shm6/

test/sigs/sigs01/Sigs1/

